@page "/markup"

<h1 style="font-style:@headingFontStyle; color:@headingTextColor">@headingText</h1>

@code {
    private string headingFontStyle = "italic";
    private string headingText = "Put on your new pink Blazor!";
    private string headingTextColor = "#FFC0CB";

}