<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp3_Fundamentals</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>       
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/blazor-rocks" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Base Class Example
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/hello-world" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Routing Example
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/markup" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Markup Example
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-6">
            <NavLink class="nav-link" href="/heading-example" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Nested Components Ex.
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-6">
            <NavLink class="nav-link" href="/parameter-parent" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Component Parameter Ex.
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-6">
            <NavLink class="nav-link" href="/render-tuple-parent" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Tuple Ex.
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-6">
            <NavLink class="nav-link" href="/route-parameter/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Route Parameter Ex.
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-6">
            <NavLink class="nav-link" href="/render-fragment-parent" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Render Fragment Ex.
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-6">
            <NavLink class="nav-link" href="/markup-string-example" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Raw HTML Ex.
            </NavLink>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="nav-item px-6">
            <NavLink class="nav-link" href="/razor-template" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Razor Template Ex.
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
