@page "/render-fragment-parent"

<h1>Render child content</h1>

<RenderFragmentChild>
    Content of the child component is supplied
    by the parent component.
</RenderFragmentChild>
<hr />

<h1>For Loop example</h1>
<h3>Three children with an index variable</h3>

@for (int c = 0; c < 3; c++)
{
    var current = c;

    <RenderFragmentChild>
        Count: @current
    </RenderFragmentChild>
}

<hr />

<h1>Foreach Loop with Enumerable.Range example</h1>
<h3>Second example of three children with an index variable</h3>

@foreach (var c in Enumerable.Range(0, 3))
{
    <RenderFragmentChild>
        Count: @c
    </RenderFragmentChild>
}